

/* NAVBAR VINO */
.navbar{
    background-color: #f5f5dca6;
    height: 60px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand{
font-weight: 500;
color: #009970;
font-size: 24px;
transition: 0.3s color;
}

.login-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    margin: 0 10px;
}

.nav-link:hover,
.nav-link:active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        transition: width 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
    }
}
/* END NAVBAR */

/* HERO VINO */
.hero-section{
    background: url(hero2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.hero-section:before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 102.8%;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2{
    font-size: 1.2em;
}

span{
    color: #009970;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: '';
    color: #009970;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgba(0, 0, 0, 0);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #666777;
    }
}

@keyframes words{
    0%, 20%{
        content: "yapper";
    }
    21%, 40%{
        content: "developer";
    }
    41%, 60%{
        content: "human";
    }
    61%, 80%{
        content: "youtuber";
    }
    81%, 100%{
        content: "student";
    }
}



.home-img{
    border-radius: 50%;
    transform: translateX(190px);
}

.home-img img{
    position: relative;
    width: 26vw;
    border-radius: 50%;
}
/* END HERO */








/* SERVICES DENNIS */
p,a,h1,h2,h3,h4,h5,h6,ul,li {
	margin: 0;
	padding: 0;
}

.section-services {
	font-family: "Poppins", sans-serif;
	background-color: #009970;
	padding-top: 80px;
    padding-bottom: 120px;
    color:#202020;
}

.section-services .header-section {
	margin-bottom: 34px;
}

.section-services .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #000000 ;
    border-radius: 3px;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #000000;
    border-radius: 3px;
}

.section-services .header-section .description {
	font-size: 14px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.section-services .single-service .content {
	position: relative;
	z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #000000 ;
    border: 6px solid #00ffee;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #000000 ;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
	background-color: #fff;
	color: #000000 ;
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
	color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
	color: #fff;
}

.section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #fff;
}

.section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #000000 ;
	transition: background-color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #fff;
}
/* END SERVICES */

/* ABOUTME VINO */
:root{
    --bg-color: #080808;
    --second-bg-color: #004d40;
    --text-color: white;
    --main-color: #00ffee;
    --box-color: #e0e0e0;
}


.aboutme {
    background:  var(--second-bg-color);
}

.aboutme-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.aboutme .heading{
    margin-bottom: 2rem;
}

.aboutme-box img{
    width: 5rem;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    margin-bottom: 3rem;
}

.aboutme-item{
    min-height: 450px;
    max-width: 320px;
    background: rgb(#3a3a3a, 0.5);
    background-color: #d2d2d2;
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 1rem;
    padding: 20px 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
}

.aboutme-item:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}

.aboutme p{
    font-size: 1rem;
}



.aboutme .header-section .title {
    margin-top: 3rem;
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
    color: black;
}

.aboutme .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #000000 ;
    border-radius: 3px;
}

.aboutme .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #000000;
    border-radius: 3px;
}
/* END ABOUTME */


/* FOOTER DENNIS */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-icons {
    margin-bottom: 15px;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ccc;
}

footer .copyright {
    font-size: 14px;
    margin-top: 10px;
}
/* END FOOTER */