


.navbar{
    background-color: #f5f5dca6;
    height: 60px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand{
font-weight: 500;
color: #009970;
font-size: 24px;
transition: 0.3s color;
}

.login-button{
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #00b383;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    margin: 0 10px;
}

.nav-link:hover,
.nav-link:active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        transition: width 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
    }
}


.hero-section{
    background: url(hero2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.hero-section:before{
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
}

.hero-section .container{
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1{
    font-size: 1.5em;
}

.hero-section h2{
    font-size: 1.2em;
}



.AboutMe {
    margin-top: 30%;
}

.main{
    width: 100%;
    min-height: 300px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.service{
    background: white;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 0 20px -15px black;
    z-index: 1;
    transition: transform .7s;
}

.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 10px solid #009970;
    margin: -90px auto 0;
    background: white;
}

.service-logo img{
    width: 50px;
    margin-top: 30px;
}

.service h4{
    height: 35px;
    width: 80%;
    margin: 50px auto;
    background: white;
    position: relative;
}

.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, white, #009970);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right, #009970, white);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}

.shadow1{
    height: 200px;
    width: 80%;
    background: white;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px black;
    transition: transform .7s;
}

.shadow2{
    height: 200px;
    width: 64%;
    background: white;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service {
    transform: translateY(-50px);
}

.main:hover .shadow1 {
    transform: translateY(-25px);
}

.main:hover .shadow2 {
    transform: translateY(-5px);
}


span{
    color: #009970;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: '';
    color: #009970;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid rgba(0, 0, 0, 0);
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #666777;
    }
}

@keyframes words{
    0%, 20%{
        content: "yapper";
    }
    21%, 40%{
        content: "developer";
    }
    41%, 60%{
        content: "editor";
    }
    61%, 80%{
        content: "youtuber";
    }
    81%, 100%{
        content: "student";
    }
}


.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home-img{
    border-radius: 50%;
    transform: translateX(190px);
}

.home-img img{
    position: relative;
    width: 26vw;
    border-radius: 50%;
}